:root {
    --prymary-bg-color: #F5F5F5;
    --secondary-bg-color: #2F303A;
    --bg-color:#C4C4C4;
    --border-cart-color: #EEEEEE;
    --prymary-color-text: #212121;
    --secondary-color-text: #757575;
    --prymary-white-color: #FFFFFF;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --button-color:#F5F4FA;
    --border-color: #ECECEC;
    --fiil-social-color: #AFB1B8;
    --fill-social-secondary: rgba(255, 255, 255, 0.1);
    
  }

body{
    background-color: var(--prymary-white-color);
    color:var(--secondary-color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.section-title{
    color: var(--prymary-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* navbar */
header{
    border-bottom: 1px solid var(--border-color);
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.page-nav{
    display: flex;
    align-items: center;
}
.logo{
    color:var(--prymary-color-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo > span{
    color: var(--accent-color);
}
.nav-list{
    display: flex;
    margin-left: 94px ;
}
.nav-list .item + .item{
    margin-left: 50px;
}
.nav-list .link,
.nav-contact .link{
    display: flex;
    align-items: center;
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: inherit;
    line-height: 1.14;
    text-decoration: none;
}
.nav-list .link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--prymary-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link.current{
    color: var(--accent-color);
}
.current::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.nav-contact{
    display: flex;
    margin-left: auto;
    
}
.nav-contact .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-contact .item + .item{
    margin-left: 50px;
}
.nav-list .link:hover,
.nav-list .link:focus,
.nav-contact .link:hover,
.nav-contact .link:focus{
    color: var(--accent-color);
    /* fill: var(--accent-color); */
    
   }
.contact-svg{
    margin-right: 10px;
    fill: currentColor;
}

/* Банер */
.banner{
    background-color: var(--bg-color);
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../image/banner/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    text-align: center;
}
.banner-title{
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--prymary-white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    padding: 10px 32px;
    color: var(--prymary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
/* Наші переваги */
.advantage{
    
}
.advantage-list{
    display: flex;
}
.advantage-list .list-item{
    width: 270px;
    margin-right: 30px;
}
.advantage-list .list-item:last-child{
    margin-right: 0;
}
.list-item-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 25px auto;
    margin-bottom: 30px;
    background-color: var(--button-color);
}
.advantage-svg{
    display: block;
}
.advantage-list .list-title{
    color: var(--prymary-color-text);
    font-size: 14px;
}

.advantage-list .list-title{
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.advantage-list .list-text{
    font-weight: 400;
    line-height: 1.71;
}
/* Чим ми займаємося */
.education{
    padding-top: 0;
}
.education-list{
    display: flex;
}
.education-list-item{
    position: relative;
}
.education-list-item img{
    
    display: block;
    max-width: 100%;
    height: auto;
}
.education-list-item:not(:last-child){
    margin-right: 30px;
}
.education-list-p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(47,48, 58, 0.8);
    color: var(--prymary-white-color);
    font-weight: 700;
    line-height: 1.21;
    text-transform: uppercase;
}
.education-title{
    margin-bottom: 50px;
}

/* Наша команда */
.team{
    background-color: var(--button-color);
}
.team-title{
    margin-bottom: 50px;
}
.team-list{
    display: flex;
}
.team-list-item{
    background-color: var(--prymary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child){
    margin-right: 30px;
}
.team-list-img{
    margin-bottom: 30px;
}
.team-list-title{
    margin-bottom: 10px;
    color: var(--prymary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list-text{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}
.team-social-item{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 44px;
    height: 44px;
    
}
.link-social-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fiil-social-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-svg:hover,
.link-social-svg:focus{
    color: var(--prymary-white-color);
    background-color: var(--accent-color);
    
}
.team-svg{
    display: block;
    fill: currentColor;
}
/*  Постійні клієнти */
.client-title{
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: space-between;
}
.client-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
       
}

.client-item-svg{
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--fiil-social-color);
    border-radius: 4px;
    color: var(--fiil-social-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item-svg:hover,
.client-item-svg:focus{
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.client-svg{
    fill: currentColor;
}
/* footer */
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
}
.footer-items{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer-addres{
    margin-right: 70px;
}
footer .logo{
    display: block;
    margin-bottom: 20px;
    color: var(--prymary-white-color);
}
.address-text{
    margin-bottom: 9px;
    color: var(--prymary-white-color);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
}
.address-list-item:not(:last-child){
    margin-bottom: 9px;
}
.address-list-link{
    color: var(--secondary-white-color);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}
.footer-social{
    margin-right: 93px;
}
.footer-social-text{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--prymary-white-color);
    text-transform: uppercase;
}

.footer-social-list{
    display: flex;
    justify-content: space-between;
}
.footer-social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-social-item:not(:last-child){
    margin-right: 10px;
}
.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--fill-social-secondary);
    border-radius: 50%;
    color: var(--prymary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-color);
}

.footer-svg{
    fill: currentColor;
}
.subscript{
    
}
.form-subscript{
    display: flex;
}
.input-subscript{
    width: 358px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--prymary-white-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}
.button-subscript{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: var(--accent-color);
    border-radius: 4px;
    color: var(--prymary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
}
.footer-button-svg{
    margin-left: 10px;
    fill: currentColor;
}
/* -------------portfolio------------------- */
/* filter */
.filter{
        
}
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list-item:not(:last-child){
    margin-right: 8px;
}
.filter-button{
    padding: 6px 22px;
    color: var(--prymary-color-text);
    background-color: var(--button-color);
    border-radius: 4px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.filter-button:hover,
.filter-button:focus{
    color: var(--prymary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.examples-list-item{
    width: 370px;
    margin: 15px;
    background-color: var(--prymary-white-color);
    
}
.examples-list-link{
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list-link:hover,
.examples-list-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list-img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.examples-list-content{
    padding: 20px 24px;
    border-left: 1px solid var(--border-cart-color);
    border-bottom: 1px solid var(--border-cart-color);
    border-right: 1px solid var(--border-cart-color);
}
.examples-list-card{
    position: relative;
    overflow: hidden;
    width: 370px;
}
.examples-list-overflow{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 24px;
    padding-right: 24px; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0px, 100%);

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--prymary-white-color);
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list-overflow > p{
 margin-left: 24px;
 margin-right: 24px;
}
.examples-list-link:hover .examples-list-overflow,
.examples-list-link:focus .examples-list-overflow {
    transform: translate(0px, 0px);
}
.examples-list-title{
    color: var(--prymary-color-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.examples-list-text{
    color: var(--secondary-color-text);
    font-size: 16px;
    line-height: 1.88;
    
}
/* modal */
.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
opacity: 0;
pointer-events: none;
}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-height: 581px;
width: 528px;
background-color: var(--prymary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;
}
.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--prymary-white-color);
    color: var(--prymary-color-text);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--accent-color);
    
}
.modal-close-svg{
    fill: currentColor;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.form-modal{
    display: flex;
    flex-direction: column;
    
}
.form-modal-block{
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--prymary-color-text);
    margin-bottom: 12px;
}
.form-modal-label{
    margin-bottom: 10px;
    
}

.form-modal-label + span{
    padding: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.form-modal-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.form-modal-input:focus{
    border: 1px solid var(--accent-color);
}

/* .form-modal-block:focus > .form-modal-input{
    border: 1px solid var(--accent-color);
    
} */

.form-modal-svg{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--prymary-color-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-input:focus + .form-modal-svg{
    fill: var(--accent-color);
}
.form-modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-textarea:focus{
    border: 1px solid var(--accent-color);
}
.form-modal-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
}
.form-modal-checkbox{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
    }

.chekbox-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--prymary-color-text);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-checkbox:checked + .chekbox-icon{
    width: 16px;
    height: 15px;
    background-image: url(../image/modal/check.svg);
    background-color: var(--accent-color);
    background-size: contain;
    background-position: 50% 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border: 2px solid var(--accent-color);
    
}
.form-modal-checkbox:focus + .chekbox-icon{
    border: 2px solid var(--accent-color);
}
.form-modal-check > span{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.form-modal-check > span > a{
    color: var(--accent-color);
}
.form-modal-submit{
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--prymary-white-color);
    cursor: pointer;
}